---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Relevance",
    description:
      "Housing is fundamental to human life, shaping economic, social, and demographic landscapes. Analyzing housing data reveals trends, patterns, and influencing factors, helping stakeholders make well-informed decisions.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Availability of data",
    description:
      "Housing datasets are abundant, sourced from government agencies, real estate platforms, and research institutions. These datasets provide a comprehensive array of variables, simplifying analysis.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Diversity of variables",
    description:
      "Including a wide range of attributes, from property features to location descriptors, housing datasets offer a rich landscape for exploration.",
    icon: "bx:bxs-data",
  },
  {
    title: "Practical application",
    description:
      "The practical insights gained from analyzing housing data have relevance in various fields. They assist in making decisions related to real estate investments and also play a role in shaping governmental policies.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Educational value",
    description:
      "Housing datasets serve as invaluable resources in educational settings, offering hands-on experience in data analysis and machine learning. Analyzing such datasets fosters critical thinking and problem-solving skills among students.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community development initiatives",
    description:
      "Analyzing community development initiatives within housing datasets reveals how public infrastructure and socio-cultural amenities shape residential property values. Understanding these dynamics informs decisions for sustainable urban development and enhances our grasp of neighborhood dynamics.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Exploring housing data...Why?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
Understanding the importance of selecting a housing dataset for analysis is crucial as it offers valuable insights into the complex socio-economic dynamics at play.
There are several factors that highlight the importance of this choice:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
