---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Relevance",
    description:
      "Housing stands as a cornerstone of human life, influencing economic, social, and demographic landscapes. Delving into housing data unravels trends, patterns, and influencing factors, aiding stakeholders in making informed decisions.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Availability of Data",
    description:
      "Housing datasets are abundant, sourced from government agencies, real estate platforms, and research institutions. These datasets furnish a comprehensive array of variables, facilitating convenient analysis.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Diversity of Variables",
    description:
      "Encompassing a wide range of attributes, from property features to location descriptors, housing datasets offer a rich landscape for exploration. This diversity enables multifaceted analysis, unraveling intricate relationships.",
    icon: "bx:bxs-data",
  },
  {
    title: "Practical Application",
    description:
      "The insights gleaned from housing data analysis hold practical relevance across domains. From informing real estate investments to shaping governmental policies, such data aids in decision-making processes.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Educational Value",
    description:
      "Housing datasets serve as invaluable resources in educational settings, offering hands-on experience in data analysis and machine learning. Analyzing such datasets fosters critical thinking and problem-solving skills among students.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community Development Initiatives",
    description:
      "Analyzing community development initiatives within housing datasets reveals how public infrastructure and socio-cultural amenities shape residential property values. Understanding these dynamics informs decisions for sustainable urban development and enhances our grasp of neighborhood dynamics.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Exploring Housing Data: A Multifaceted Rationale
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Understanding the significance behind selecting a housing dataset for analysis is crucial, 
    as it offers insights into various socio-economic dynamics. Several factors underscore the 
    rationale behind this choice:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
