---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="logos:python" />
    <Icon class="h-8 md:h-12" name="logos:matplotlib" />
    <Icon class="h-8 md:h-12" name="simple-icons:pandas" />
    <Icon class="h-8 md:h-14" name="logos:numpy" />
    <Icon class="h-8 md:h-14" name="simple-icons:scikitlearn" />
    <Icon class="h-8 md:h-14" name="simple-icons:scipy" />
  </div>
</div>
